@font-face {
    font-family: nb;
    src: url(./fonts/NBInternationalProBoo.ttf);
}

@font-face {
    font-family: rj;
    src: url(./fonts/Rejouice-Headline.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nb;
    scrollbar-width: thin;
}

html,
body{
    width: 100%;
    height: 100%;
    background-color: #FAF8F3;
}

#page1{
    width: 100%;
    height: 100vh;
    background-color: #dadada;
    position: relative;
}

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#page1-content{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 2.7vw;
}

nav h3{
    font-size: 1.4vw;
    font-weight: 300;
}

nav h4{
    font-size: 1.4vw;
    font-weight: 300;
}

.heading{
    display: flex;
}

#page1-content h1{
    font-family: rj;
    font-size: 27vw;
    font-weight: 100;
    line-height: 25vw;
    user-select: none;
}

#page1-content h1 span{
    font-family: rj;
}

#page2{
    width: 100%;
    height: 100vh;
}

#page2 #nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7vw;
    padding: 50px 50px;
    padding-bottom: 30px;
    user-select: none;
}

#page2 #line{
    width: 95%;
    height: 1px;
    margin: 0 40px;
    background-color: black;
}

#page2-content h3{
    margin: 40px 85px;
    font-size: 65px;
    font-family: nb;
    font-weight: 400;
    user-select: none;
    line-height: 40px;
}

#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw;
    margin-bottom: 100px;
}

#page3-top{
    text-align: center;
    padding-bottom: 80px;
}

#page3-text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page3-text p{
    font-size: 1.5vw;
    padding-top: 100px;
    padding-bottom: 20px;
    font-weight: 500;
}

#page3-top h4{
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;
}

#page3-top h4 span{
    background-color: #000;
    color: #fff;
    padding: 4px 7px;
    border-radius: 10px;
    font-size: 0.7vw;
}

#page3-top h2{
    font-size: 4.5vw;
    font-weight: 500;
}

#page3-elements{
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vw;
}

#page3-elements .box{
    height: 112%;
    width: 32.8%;
    position: relative;
}

#page3-elements .box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* object-position: center; */
}

#page3-elements .box img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all linear 0.7s;
}

#page3-elements .box:hover img{
    opacity: 0;
}

#page4{
    min-height: 100vh;
    width: 100%;
    padding: 3.5vw;
}

#page4 p{
    font-size: 1.6vw;
}

#page4 #line{
    width: 100%;
    height: 1px;
    margin: 20px 0px;
    background-color: rgb(0, 0, 0);
}

#page4-content h3{
    margin: 30px 20px;
    font-size: 63px;
    font-family: nb;
    font-weight: 500;
    user-select: none;
    line-height: 40px;
}